<div class="events index">
  <h2>My Agenda</h2>
  <% if !@events.blank? %>
    <% @events.each do |event| %>
      <h3><%= event.event_name %></h3>
      <div class="event_listing">
        <div class="event_listing_left">
          <%= image_tag "default_event.jpg", width: "90" %>
        </div>
        <div class="event_listing_right">
          <p><span class="small_title">Location: </span><%= "#{event.venue_addr1}, #{event.venue_city}, #{event.venue_state} #{event.venue_zip}" %></p>
          <p><span class="small_title">Start Time: </span><%= event.event_start %></p>
          <p><span class="small_title">End Time: </span><%= event.event_end %></p>
          <p><span class="small_title">Details: </span><%= event.description %></p>
        </div>
        <div style="clear:both;"></div>
      </div>
    <% end %>
  <% else %>
      <h3>You have no upcoming events</h3>
  <% end %>
</div>